/* PRELOADER */
.preloader-wrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.preloader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader img {
  height: 200px;
  width: auto;
}


* {
  margin: 0;
  outline: none;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  min-height: 330px;
}

a, .link {
  color: black;
  text-decoration: none;
  transition: 0.5s color;
}
a:hover, .link:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}


/* NAVBAR */
header nav {
  display: flex;
  padding: 20px 0;
  margin: 0 4vw;
}
.header-desktop-nav {
}
.header-mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.mobile-trigger {
  background: none;
  border: none;
  font-size: 37px;
  margin-left: 10px;
  padding: 0;
}
.header-logo {
  font-size: 40px;
  flex: 1;
  margin: 0;
}
/* mobile menu */
.header-mobile-modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  right: 0;
  top: 0;
  z-index: 999;
}
.header-mobile-modal-left {
  background-color: rgba(0,0,0,0.9);
  width: 20%;
}
.header-mobile-modal-right {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.header-modal-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-mobile-modal-right-logo {
  margin: 20px 0;
}
.header-mobile-modal-right-link {
  width: 100%;
  margin-bottom: 20px;
}
.header-mobile-modal-right-logo {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.mobile-close {
  background: none;
  color: white;
  border: none;
  font-size: 37px;
  width: 100%;
  padding: 0;
  margin-top: 20px;
}
/* desktop menu */
.header-desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-desktop-nav-item {
  margin: 0 4vw;
}
/* submenu */
.desktop-submenu {
  position: relative;
}
.submenu-trigger {
}
.header-nav-submenu {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.header-nav-submenu a {
  padding: 10px 20px;
}
.header-nav-submenu a:hover {
  background-color: #f0f0f0;
}
/* mobile submenu */
.header-mobile-nav-submenu {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 5px;
}
.header-mobile-nav-submenu a {
  padding: 10px 0;
}
.header-mobile-nav-submenu a:hover {
  border-bottom: 1px solid black;
}


/* SLIDESHOW */
.slideshow {
  background-color: #f5f3ef;
  position: relative;
}
.slideNo {
  font-size: 50px;
  position: absolute;
  right: 20px;
  top: 0;
  text-align: right;
  text-shadow: 2px 2px white;
  z-index: 1;
}
.slideshow-slides {
  position: relative;
  display: flex;
  width: 100%;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slide img {
  margin: 0 auto;
  width: 95%;
  height: calc(100vh - 50px);
  object-fit: contain;
  background-size: contain;
}
.slick-arrow {
  background-color: gray;
  color: white;
  border: none;
  font-size: 30px;
  height: 80px;
  width: 40px;
}
.slick-arrow:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}
.slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.slick-list {
  width: 100% !important;
}


/* home */
.main {
  background: linear-gradient(90deg, rgba(186,16,16,1) 0%, rgba(15,87,15,1) 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}
.main-content {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-content, .main-content a {
  /*color: #e20000;*/
  color: white;
}
.main-contact {
  padding: 50px 30px 50px 50px;
}
.main-contact ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-contact ul li {
  margin: 10px 0;
}


/* ABOUT */
.about, .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f3ef;
  padding: 50px 100px;
}
.about-intro {
  max-width: 800px;
  margin-bottom: 30px;
}
.about-intro p {
  text-align: center;
  font-size: 60px;
}
.about-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}
.about-bio-left {
  position: relative;
  width: 50%;
  padding: 20px;
  margin: 20px;
}
.about-bio-left p {
  font-size: 18px;
}
.about-bio-left-nums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.about-bio-left-nums p {
  text-align: center;
  width: 140px;
}
.about-bio-left-nums-num {
  color: black;
  font-size: 25px;
}
/* about bio right */
.about-bio-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.about-bio-right img {
  width: 100%;
  height: auto;
}
/* snapshot borders */
.top-left-border {
  position: absolute;
  border-top: 3px solid black;
  border-left: 3px solid black;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}
.top-right-border {
  position: absolute;
  border-top: 3px solid black;
  border-right: 3px solid black;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
}
.bottom-left-border {
  position: absolute;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  width: 40px;
  height: 40px;
  bottom: 0;
  left: 0;
}
.bottom-right-border {
  position: absolute;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
}


/* CONTACT */
.contact-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  width: 80%;
  max-width: 600px;
  padding: 50px;
}
.contact-form-item {
  margin-bottom: 15px;
}
.contact-form-item input, .contact-form-item textarea {
  caret-color: red;
  width: 100%;
  height: 30px;
}
.contact-form-item textarea {
  height: 100px;
}
.submit-btn {
  background-color: red;
  color: white;
  border: 3px solid red;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  height: 60px;
  font-size: 12px;
}
.submit-btn:hover {
  background-color: white;
  color: red;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: white;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
}
/* contact button */
.footer-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contact-btn a {
  background-color: black;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.footer-contact-btn a:hover {
  background-color: rgba(0,0,0,0);
  color: black;
  transition: 0.5s background-color;
}
/* Social media buttons */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.social-media a{
  color: black;
  font-size: 25px;
}
.social-media a:hover{
  color: red;
  transition: 0.5s color;
}
/* Copyright */
.copyright {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0;
}
.creator-link {
  color: white;
}


/* OTHER */
.light-text {
  color: gray;
}
.dark-text {
  color: black;
}


/* device screen changes */
@media all and (max-width: 964px) {
  /* mobile/tablet navbar */
  .navbar-menu-item {
    display: none;
    margin: 10px 0;
  }
  .slick-arrow {
    display: none !important;
  }
  .main-img img {
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 965px) {
  /* desktop navbar */
  .navbar-menu {
    flex-direction: row;
  }
  .navbar-top-mobile-toggle {
    display: none;
  }
  .navbar-menu-item {
    margin: 10px 20px;
  }
  .slick-arrow {
    display: inline-block;
  }
}

/* ABOUT BIO */
@media all and (max-width: 1070px) {
  .about-bio {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .about-bio-left {
    width: 100%;
  }
  .about-bio-right {
    width: 100%;
  }
  .not-last-num {
    margin: 0;
  }
}
@media all and (max-width: 900px) {
  .about-intro p {
    font-size: 40px;
  }
}
@media all and (max-width: 700px) {
  .about-intro p {
    font-size: 30px;
  }
}

/* mobile and tablet */
@media all and (max-width: 900px) {
  .header nav {
    padding: 25px;
  }
  .header-mobile-nav {
    display: flex;
  }
  .header-desktop-nav {
    display: none;
  }
  .header-mobile-modal {
    display: none;
  }
  .header-logo {
    font-size: 27px;
    flex: 1;
    margin: 0;
  }
}

/* desktop */
@media all and (min-width: 901px) {
  .header-mobile-nav {
    display: none;
  }
  .header-desktop-nav {
    display: flex;
  }
  .header-mobile-modal {
    display: none;
  }
}